* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.wapper {
    margin: 0px 30%;
    /*display: none; */
    margin-bottom: 40px;
}
@keyframes Show {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
  }
.show {
    animation-name: Show;
    animation-duration: 1s;
    animation-direction: alternate-reverse;  
    display: block;

}
.title {
    position: fixed;
    top : 0px;
    width: 100%;
    overflow: hidden;
}
h1 { color: #ff000d; font-family: "Great Vibes", cursive; font-size: 165px; line-height: 160px; font-weight: normal; margin-bottom: 0px; margin-top: 40px; text-align: center; text-shadow: 0 1px 1px #fff; }
.block {
    display: block;
    padding: 20px;
}
.char {
    opacity: 0;
}
@keyframes example {
    from {
        
        color: #ff000d;
    }
    to {
        opacity: 1;
        color: rgb(34, 90, 212);
    }
  }
.animate {
    animation-name: example;
    animation-duration: 2s;
    animation-direction: alternate-reverse;  
}
.chatbox {
    padding: 10px;
}
.content-message {
    padding: 12px;
}
.chatbox-message .content-message {
    background-color:   rgb(0, 132, 255);
}

.person-message .content-message {
    background-color:   #3E4042;
}
.content-message, img {
    
    font-family: inherit;
    max-width: 500px;
    min-width: 50px;
    font-size: .9375rem;
    display: inline-block;
    border-radius: 18px;
    line-height: 1.3333;
    font-family: "inherit", sans-serif;
    color: white; 
    margin-bottom: 1.5pt;
}
.chatbox-message .mesage-first {
    border-bottom-left-radius: 0px;
}
.chatbox-message .mesage-last, .message-only {
    border-top-left-radius: 0px;
    margin-bottom: 15px;
}
.chatbox-message .message-mid {
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
}
.person-message {
    display: flex;
    justify-content: flex-end;
    width: 100%;
} 
.person-message img,
.chatbox-message img {
    max-width: 300px;
    height: 300px;
    
}
.content-message:hover  {
    background-color: red;
}
span {
    display: none;
}
p:hover + span {
    display: inline-block;
}
.reply-answer {

}
input {
    background-color: #dae9f7;
    border-radius: 18px;
    outline: none;
    border: none;
    height: 35px;
    padding: 12px;
    width: 540px;
}
button {
    display: inline-block;
    width: 60px;
    outline: none;
    border: none;
    background-color: #006cd1;
    height: 35px;
    cursor: pointer;
}
button:hover {
    background-color: #d1c300;
}